# Ignore Python virtual environments
venv/
VENV/
.env/
.env

# Ignore Docker-related files (if desired)
docker-compose.override.yml

# Ignore IDE/editor files
*.swp
*.swo
*.log
.vscode/
.idea/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class
